{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
	<div class="login-page">
		<div class="form">
			<h2>Change Password</h2>
			<div class="change">
				<form class="login-form" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="save btn btn-default">Apply Changes</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
