{% extends 'base.html' %}
{% block content %}

<body>

<div class="container">
  <h1>Global Ranking</h1>
  <p>This is a list of the best users</p>
  <hr>
  <table class="table-fill">
    <thead>
      <tr>
        <th class="text-left">Username</th>
        <th class="text-left">Coins</th>
      </tr>
    </thead>
    <tbody class="table">
    {%for n in ranking %}
    <tr>
      <td class="text-left">{{n.user.username}}</td>
      <td class="text-left">{{n.coins}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
  <div class="col-sm-6"><a onclick="window.location.href='/'" class="btn btn-default" role="button">Back to Home</a></div>
</div>

<style>
/*** Table Styles **/
.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 800px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:15px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

td.text-left {
  text-align: left;
}
</style>

</body>
</html>



{% endblock %}
